<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  <title>Document</title>
</head>

<body>
  <div id="app">
    <div>
      <input type="text" v-model="inputValue">
      <button @click="upData">提交</button>
    </div>
    <ul>
      <todo-item 
      v-for="(item,index) of list" 
      :key="index" 
      :text="item" 
      :index="index"
      @delete="handleDelete"
      >
      </todo-item>
    </ul>
  </div>
</body>
<script>
  Vue.component('TodoItem', {
    template: '<li @click="handle">{{text}}</li>',
    props: ['text', 'index'],
    methods: {
      handle: function () {
        this.$emit('delete',this.index)
      }
    }
  })

  // var TodoItem =  {
  //   template:'<li>item</li>'
  // }


  new Vue({
    el: '#app',
    data: {
      inputValue: '',
      list: []
    },
    methods: {
      upData: function () {
        this.list.push(this.inputValue)
        this.inputValue = '';
      },
      handleDelete:function(index){
        this.list.splice(index,1)
      }
    },
    // components:{
    //   'todo-item':TodoItem
    // }
  })
</script>

</html>