<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    姓:<input type="text" v-model="firstName">
    名:<input type="text" v-model="lastName">
    <div>{{fullName}}</div>
    <div>{{count}}</div>
  </div>
</body>

<script>

  new Vue({
    el:'#app',
    data:{
      firstName:'',
      lastName:'',
      count:0
    },
    computed:{
      fullName:function(){
        return this.firstName + " " +this.lastName;
      }
    },
    watch:{
      firstName:function(){
        this.count++;
      },
      lastName:function(){
        this.count++;
      }
    }
  })

</script>
</html>