<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body>
    <div id="app" v-cloak>
        <div class="message">
            <v-input v-model="username"></v-input>
            <v-textare v-model="message" ref="message"></v-textare>
            <button @click="handleUpData">发布</button>
        </div>
        <v-list :list="list" @reply="handleReply"></v-list>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./input.js"></script>
<script src="./list.js"></script>
<script src="./index.js"></script>

</html>